<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<script src="https://apis.google.com/js/api:client.js"></script>

<div id="loginDiv">
    <div id="googleSignIn">
        <div id="customBtn" class="customGPlusSignIn">
            <img src="/imgs/g-logo.png"></img>
            <span class="buttonText">Sign in with Google</span>
        </div>
    </div>
    <hr id="divisionLine">

    {{#if isLogin}}
    <form action="/login" method="POST">
    {{else}}
    <form action="/register" method="POST">
    {{/if}}

        <label for="username">Username</label><br>
        <input name="username" type="email" placeholder="Email" required></input><br><br>
        <label for="password">Password</label><br>
        <input name="password" type="password" placeholder="Password" required><br>
    {{#if isLogin}}
        <button class="btn btn-primary">Login</button><br>
        <a href="/register">Sign Up</a>
    {{else}}
        <br><label for="passwordConfirm">Confirm Password</label>
        <input name="passwordConfirm" type="password" placeholder="Confirm Password" required>
        <button class="btn btn-primary">Sign Up</button><br>
        <a href="/login">Login</a>
    {{/if}}
    </form>
</div>

<script>
    $("#googleSignIn").click(() => {
        window.location.href = '/auth/google';
    });
</script>