<ul id="messages"></ul>
<form id="msgForm">
    <input id="msg" autocomplete="on"/>
    <button>Send</button>
</form>
<form id="userForm">
    <input id="user">
    <button>Log Me In</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    var msgList = document.getElementById("messages");
    var form = document.getElementById("msgForm");
    var msg = document.getElementById("msg");
    var currentUser = document.getElementById("user");

    socket.on('connect', function(data) {
        socket.emit('join', 'Hello World from ' + currentUser.value);
    });
    socket.on("message", function(msg){
        msgList.innerHTML = msgList.innerHTML + "<li>" + msg + "</li>";
    });

    form.addEventListener('submit', (e) => {
        e.preventDefault();
        socket.emit('message', currentUser.value + ": " + msg.value);
        msg.value = "";
    });
</script>